# Telegram Bot Token (dari @BotFather)
TELEGRAM_BOT_TOKEN=your_bot_token_here

# PostgreSQL Database URL
POSTGRES_USER=user
POSTGRES_DB=db
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://user:password@localhost:5432/db

# Redis URL
REDIS_URL=redis://localhost:6379/0


